{% extends 'display/base.html' %}
{% load static %}

{% block title %}Blog Home{% endblock title %}

{% block styles %}
    <script src="{% static 'display/js/requests.js' %}"></script>
{% endblock styles %}

{% block navbar %}
    {% include 'display/partials/navbar.html' %}
{% endblock navbar %}

{% block content %}
    {% for blog in blogs %}
    <div class="container">
        <div class="row divvy mt-5 mb-5">
            <div class="col">
                <img id="image{{ forloop.counter }}" style="height: 400px; width: 600px">
            </div>

            <div id="blog_list{{ forloop.counter }}" class="col d-flex flex-column align-items-flex-start">
                <span class="p-2 text-muted" id="category{{ forloop.counter }}"></span>
                <h2 class="p-2">
                    <a style="color: black; text-decoration: none;" id="heading{{ forloop.counter }}"
                    href="{% url 'detail' blog.id %}"></a></h2>      
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

{% block credits %}
        {% include 'display/partials/credits.html' %}
{% endblock credits %}