{% extends 'display/base.html' %}
{% load static %}

{% block title %}Blog Home{% endblock title %}

{% block styles %}
    <script src="{% static 'display/js/requests.js' %}"></script>
{% endblock styles %}

{% block navbar %}
    {% include 'display/partials/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <form id="create_form" method="POST" enctype="multipart/form-data" style="height: 800px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input type="text" class="form-control" id="title" placeholder="Ex - My blog">
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="time">Time to read</label>
            <input type="number" class="form-control" id="time" placeholder="Ex - 0">
          </div>
          <div class="form-group">
            <label for="categories">Categories</label>
            <select class="form-control" id="categories">
            </select>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input class="form-control border-0" id="image" type="file">
            </select>
          </div>
          <button id="submit_blog" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock content %}

{% block credits %}
        {% include 'display/partials/credits.html' %}
{% endblock credits %}