    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">Minneapolis, MN<br />Kathmandu, Nepal</p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1"
                        href="https://mail.google.com/mail/?view=cm&fs=1&to=subhanga2013@gmail.com"><i
                            class="fab fa-fw fa-google"></i></a><a class="btn btn-outline-light btn-social mx-1"
                        href="https://github.com/Azazel5"><i class="fab fa-fw fa-github"></i></a><a
                        class="btn btn-outline-light btn-social mx-1"
                        href="https://www.linkedin.com/in/subhanga-upadhyay-20b445180/"><i
                            class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"
                        href="https://www.instagram.com/bong0179/"><i class="fab fa-fw fa-instagram"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About this website</h4>
                    <p class="lead mb-0">
                        This website was created using Django and a bootstrap starting template. 
                    </p>
                </div>
            </div>
        </div>
    </footer>
 